@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See <a asp-controller="Timesheets" asp-action="List">all Timesheets</a></p>
</div>
